@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;

  &__container {
    display: flex;
    flex-direction: column;
  }

  @include onDeskTop {
    flex-direction: row;
    padding: 33px 62px 62px 96px;
  }

  &__logo {
    width: 200px;
    margin: 14px 0;

    @include onDeskTop {
      margin: 33px 0 61px;
    }

  }

  &__title {
    @include onDeskTop {
      width: 590px;
      text-align: start;
      margin-bottom: 32px;
    }
  }

  &__about {
    margin: 24px 0;

    @include onDeskTop {
      width: 430px;
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  gap: 27px;

  &__section {
    display: flex;
    align-items: center;
    gap: 14px;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 42px;
    min-width: 42px;
    max-height: 42px;
    max-width: 42px;
    background-color: $peach;
    border: 1px solid $peach;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
  }
}