@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.faq {
  padding: 0 40px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;

  &__container {
    width: 100%;

    @include onDeskTop {
      width: 50%;
    }
  }

  &__title {
    margin: 68px 0 50px;
  }

  &__question {
    font-size: 18px;
    padding: 18px 0 10px;
    overflow: hidden;
    transition: max-height 0.5s ease;

    &--answer {
      font-size: 14px;
      width: 100%;
    }
  }

  &__photos {
    display: none !important;

    @include onDeskTop {
      position: relative;
      top: 100px;
      display: grid !important;
    }
  }

  &__button {
    @include onDeskTop {
      display: none;
    }
  }
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    color: $deep-blue;
    padding: 20px 0;
  }

  &__button {
    padding-right: 15px;
    font-size: 34px;
    font-weight: 400;
    color: $deep-blue;
    cursor: pointer;
  }
}