@import '../../utils/variables.scss';

.slider-container {
  position: relative;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper {
  .swiper-slide {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    img {
      height: 453px;
      width: auto;
    }
  }

  .swiper-button-prev {
    position: absolute;
    left: 0;
    color: $font-color;

    &:after {
      height: 20px;
    }
  }

  .swiper-button-next {
    position: absolute;
    right: 0;
    color: $font-color;
  }
  
}

.swiper-thumbs {
  // display: flex;
  // justify-content: space-around;
  // align-items: center;

  .swiper-slide {
    width: 40px;
    cursor: pointer;
    border: 1px solid $font-color;

    &-thumb-active {
      border: 2px solid $deep-blue;
    }
  }

  &__wrapper {
    height: 40px;
  }

  &__image {
    object-fit: fill;
  }
}
