@import '../../utils/variables.scss';
@import '../../utils/mixins.scss';

.reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 22px;

  &__title {
    margin-bottom: 40px;
  }

  &__about {
    text-align: center;
    margin-bottom: 50px;

    @include onDeskTop {
      width: 614px;
    }
  }

  &__swiper {
    margin-bottom: 30px;

    @include onDeskTop {
      margin-bottom: 60px;
    }
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 200px;
    overflow: hidden;
    margin-bottom: 38px;
  }

  &__photo {
    margin: 5px;
    width: 100px;
    height: 100px;

    &--item {
      height: 100%;
    }
  }
}

.comment {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: 1px solid $gray;
  border-radius: 8px;
  box-shadow: 2px 2px 4px 1px #00000014;
  padding: 30px;

  &__author {
    display: flex;
    margin-bottom: 15px;
  }

  &__ name {
    font-size: 15px;
  }

  &__picture {
    display: block;
    height: 35px;
    width: 35px;
    margin-right: 12px;
    background-color: $deep-blue;
    border: 1px solid $deep-blue;
    border-radius: 50%;
  }

  &__stars {
    height: 100%;
    width: 100%;

    &--container {
      height: 9px;
    }
  }

  &__text {
    font-size: 12px;
  }
}